@charset "utf-8";
.fuente {
    font-family: "Sweetie Bubble Gum";
    font-size: x-large;
    color: #FEABCD;
}
.fuente2 {
    color: #DD5FEC;
    font-family: "Sweetie Bubble Gum";
    font-size: xx-large;
}
